# Ignore preprocessed data files
data/processed/
__pycache__/
data/
# Papers/
# EdgeGuard-Plus/backend_api
# EdgeGuard/dashboard_ui
# EdgeGuard/deployment
# EdgeGuard/docs
# EdgeGuard/edge_device
# EdgeGuard/federated_learning
# proj_struct.txt
# proj_use.md
# readme.md
EdgeGuard-Plus/dashboard_ui/package-lock.json
